<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idsmanager.nativeappdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.NativeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/native_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.idsmanager.idp2nativeapplibrary.receive.MyReceiver">
            <intent-filter>
                <action android:name="com.idsmanager.enterprisetwo.summer.receiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receive.UserReceiver">
            <intent-filter>
                <action android:name="com.idsmanager.nativeappdemo.summer.userinfo" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.SplashActivity">

        </activity>
    </application>

</manifest>
